<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soloparaincorruptibles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Denuncias7" />
        <activity
            android:name=".Denuncias6"
            android:label="Elección sin corrupción" />
        <activity
            android:name=".Denuncias5"
            android:label="Elección sin corrupción" />
        <activity
            android:name=".Denuncias4"
            android:label="Elección sin corrupción" />
        <activity
            android:name=".Denuncia1"
            android:label="Elección sin corrupción" />
        <activity
            android:name=".Denuncias"
            android:label="Elección sin corrupción" />
        <activity android:name=".Juegos" />
        <activity android:name=".Informacion" />
        <activity android:name=".Galeria" />
        <activity
            android:name=".Denuncias3"
            android:label="Elección sin corrupción" />
        <activity android:name=".MainActivity" />
        <activity android:name=".PaginaInicio"    android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>


                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>